* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./assets/background.png");
    background-size: cover;
    backdrop-filter: blur(5px);
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: #5e5e5e;
    color: #fff;
}

.white {
    background-color: #bebdbd;
}

.selected {
    background-color: rgba(45, 87, 210, 0.8);
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #ffe37a;
}
